.own-message {
    display: flex;
    margin: 10px;
}

.own-message .card {
    max-width: 700px;
    margin-left: auto;
}

.own-message .card-body {
    padding: 15px 10px;
}

.own-message .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    font-size: 12px;
}

.own-message i {
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.own-message .message-time {
    margin-left: 40px;
}