.edit-message-modal {
    width: 500px;
    height: 400px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 250px);
    z-index: 3;
    display: none;
}

.modal-shown {
    display: block;
}
